<% include header.ejs %>
  <div class="container">
    <div id="categoryform" class="form-div z-depth-2">
    <h3 class="center-align">Edit Category</h3>
    <% if (typeof(message) !== 'undefined' ) { %>
    <p class="error"><%= message %></p>
    <% } %>
    <form class="col s12" action="/admin/category/<%= name %>" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <input id="name" type="text" name="name" class="validate" value="<%= name %>">
          <label for="name">Category</label>
        </div>
      </div><! -- category name -->
      <div class="row">
        <div class="input-field col s12">
          <input id="categoryid" type="hidden" name="categoryid" class="validate" value="<%= key %>">
          <label for="name">Category Id</label>
        </div>
      </div><! -- category id -->
      <div class="row">
        <div class="input-field col s12">
          <textarea class="materialize-textarea" id="description" name="description" class="validate"><%= description %></textarea>
          <label for="description">Description</label>
        </div>
      </div><! --category description -->
      <div class="row">
        <div class="center">
          <button class="btn waves-effect waves-light" id="login" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
          <a class="btn-flat disabled" id="backcategory">Go Back
            <i class="material-icons right">return</i>
          </a>
        </div><! -- Button Div -->
      </div>
    </form>
  </div>
  </div>
<% include footer.ejs %>