<% include header.ejs %>
  <div class="container">
  <h4 class="center-align"> UNRETURNED LIST</h4>
  <br/>
  <br/>
  <% if (borrowed === null) { %>
    <h4 class="center-align"> There are no unreturned books yet...</h4>
  <% } else { %>
    <table>
      <thead>
        <th>Title</th>
        <th>Borrower</th>
        <th>Email</th>
        <th>Date Borrowed</th>
        <th>Due Date</th>
        <th>Surcharge</th>
      </thead>
      <tbody>
      <% for (key in borrowed) { %>
        <tr>
          <td><%= borrowed[key].title %></td>
          <td><%= borrowed[key].firstname %><%= borrowed[key].lastname %></td>
          <td><%= borrowed[key].email %></td>
          <td><%= borrowDate = new Date(borrowed[key].dateBorrowed).toLocaleDateString() %></td>
          <td><%= dueDate = new Date(borrowed[key].dateDue).toLocaleDateString() %></td>
          <% if (borrowed[key].dateReturned && borrowed[key].dateDue < borrowed[key].dateReturned) { %>
            <%  surcharge = Math.round(((borrowed[key].dateReturned - borrowed[key].dateDue) / 60000) * 1.5) %>
            <td> $<%= fee = surcharge %></td>
          <% } else if (borrowed[key].dateReturned === undefined && borrowed[key].dateDue < new Date().getTime()){ %>
            <%  surcharge = Math.round(((new Date().getTime() - borrowed[key].dateDue) / 60000) * 1.5) %>
            <td> $<%= fee = surcharge %></td>
          <% } else { %>
            <td>No surcharge </td>
          <% } %>
        </tr>
  <% }} %>
      </tbody>
      </table>
  </div>
<% include footer.ejs %>
